
.h-screen-minus-nav{
    height: calc(100vh - 4rem);
    background: #003145;
}
.background-dark{
    background: #002A3B;
}
.text-green-parrot{
    color: #44924C
}
.bg-green-parrot{
    background: #44924C
}


.status-upcoming{
    background: #F2C94C;
    color: #000000;
}
.status-active{
    background: #44924ca9;
    color: white;
}
.status-past{
    background: #FF3C00;
    color: black;
}


.background-dark-green{
    background: #002A3B;
}
.background-light-dark-green{
    background: #003145;
}

.border-parrot{
    border-color: #44924C
}

.bg-btn-enabled{
    background: #44924C;
    cursor:pointer
}
.bg-btn-disabled{
    background: #44924cc4;
    cursor:default
}